*{
    margin: 0;
    padding: 0;
}


.header{
    height: 10vh;
    width: 100%;
    background-color:#F5F5F5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px #aaa;
}


 .img-1{
    background-color: #FFFFFF;
    padding: 6px;
    box-shadow:-10px 0 15px -8px rgba(0, 0, 0, 0.5), 
               10px 0 15px -8px rgba(0, 0, 0, 0.5);

}
.img-2{
    /* background-color:rgb(32, 32, 14) ; */
    padding: 6px;
    box-shadow:  1px 1px 2px gray;
}
.img-3{
    /* background-color:rgb(88, 20, 43) ; */
    padding: 6px;
    box-shadow:  1px 1px 2px gray;
}
.img-4{
    /* background-color: rgb(48, 104, 48); */
    padding: 5px;
}
.img-5{
    /* background-color:rgb(148, 94, 74) ; */
    padding: 5px;
}

.img-6{
    /* background-color:rgb(216, 93, 155) ; */
    padding: 5px;
}

.header1{
    background-color: #FFFFFF;
    /* background-color: aqua; */
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px #aaa;
    /* position: fixed; */

}

.box{
   width: 130px;
   background-color: bisque;
   text-align: center;
   height: 800px;
  padding-top: 15px;
}
.one{
    background-color: #FFFFFF;
   height: 12vh;
   /* padding: 8px; */
}
.box1{
    background-color:#919191;
}
.underline1{
    background-color: #919191;
    height: 9px;
    width: 130px;
    margin-top: 27px;

}


.underline2{
    background-color: #E3350D;
    width: 140px;
    height: 8px;
    margin-top: 28px;
  
}
.box2:hover{
    background-color: #E3350D;
}
.underline3{
    background-color: #EE6B2F;
    height: 8px;
    width: 140px;
    margin-top: 10px;
}
.box3:hover{
    background-color: #EE6B2F;
}
.underline4{
    background-color:#E6BC2F;
    height: 8px;
    width: 140px;
    margin-top: 10px;
}
.box4:hover{
    background-color: #E6BC2F;
}
.underline5{
    background-color:#4DAD5B;
    height: 8px;
    width: 140px;
    margin-top: 28px;
}
.box5:hover{
    background-color: #4DAD5B;
}
.underline6{
    background-color: #30A7D7;
    height: 8px;
    width: 140px;
    margin-top: 10px;
}
.box6:hover{
    background-color: #30A7D7;
}
.underline7{
    background-color: #1B53BA;
    height: 8px;
    width: 120px;
    margin-top: 28px;
}
.box7:hover{
    background-color: #1B53BA;
}


.start-sec{
    /* background-color: #4DAD5B; */
    background: white url(slider-img/container_bg.png);
    width: 100%;
}

.login-sec{
    /* background-color: #FF2A8E; */
   margin-top: 20px;
    width: 45px;
    height: 126px;
    border: 2px solid black;
   /* margin-left: px; */
   top: 160px;
    position: fixed;
}
.log{
    background-color: rgb(80, 134, 80);
    padding: 8px;
    height: 65px;
    /* position: absolute; */
}
.search{
    background-color: aqua;
    height: 35px;
    padding: 5px;

}

.content{
    /* background-color: olivedrab; */
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.content1{
    /* background-color: olivedrab; */
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.img1{
    /* background-color: rgb(0, 38, 255); */
    height: 450px;
    width: 570px;
    border-radius:0px 0px 8px 8px;
}

.img1:hover{
    transform: translateY(-10px);
}

.img1 img{
    width: 100%;
    height: 380px;
    border-radius: 8px 8px 0px 0px;
}

.text1{
    background-color: #1847D7;
    height: 65px;
    width: 530px;
    margin-top: -5px;
    padding: 20px;
    border-radius: 0px 0px 8px 8px ;
}

.text1 p{
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.text1:hover{
    background-color: #0b2c91;
    
}


.img2{
    /* background-color: rgb(51, 255, 0); */
    height: 250px;
    width: 300px;
    
}

.img2:hover{
    transform: translateY(-10px);
}

.img2 img{
    width: 100%;
    height: 190px;
    border-radius: 8px 8px 0px 0px;
}

.text2{
    background-color: #FF2A8E;
    /* height: 65px;
    width: 540px; */
    margin-top: -6px;
    padding: 20px;
    border-radius:0px 0px  8px 8px ;
}

.text2:hover{
    background-color: #d1146c;
    
}

.img3{
    /* background-color: #975FE2; */
    height: 270px;
    width: 270px;
    /* border-radius: 0px 0px 8px 8px; */
}

.img3:hover{
    transform: translateY(-10px);
}

.img3 img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.three{
    margin-top: 35px;
}

.text3{
    background-color: #975FE2;
    margin-top: -5px;
    padding: 20px;
    border-radius:0px 0px 8px 8px ;
}

.text3:hover{
    background-color: #7142af;
    
}

.img4{
    /* background-color: rgb(255, 0, 234); */
    height: 270px;
    width: 270px;
}

.img4:hover{
    transform: translateY(-10px);
}

.img4 img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.four{
    margin-top: 35px;
}

.text4{
    background-color: #c23718;
    /* height: 65px;
    width: 540px; */
    margin-top: -5px;
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
}

.text4:hover{
    background-color: #942911;
    
}

.img5{
    /* background-color: rgb(255, 0, 234); */
    height: 260px;
    width: 300px;

}
.img5 img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}


.five{
    margin-top: -150px;
}
.text5{
    background-color: #f3b61a;
    margin-top: -5px;
    padding: 15px;
    border-radius: 0px 0px 8px 8px ;
}

.text5:hover{
    background-color: #DAA31C;
    
}


.img5:hover{
  transform: translateY(-10px);
   
}

.img6{
    /* background-color: rgb(255, 0, 234); */
    height: 170px;
    width: 300px;
    margin-left: 600px;
    margin-top: -200px;
   display: flex;

}

.img6:hover{
    transform: translateY(-10px);
}

.img6 img{
  width: 100%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}

.img6 h2{
    background-color: #52c262;
    padding: 20px;
    border-radius: 0px 8px 8px 0px;
}
.img6 h2:hover{
    background-color: #46a054;
}

.main_section{
    /* background-color: #a86833;    */
    margin-top: 200px;
}

.section-2{
    /* background-color: #a86833; */
     display: flex;
     justify-content: center;
     gap: 30px;
     flex-wrap: wrap;
     
}

.cart1{
    /* background-color: #B32A0A; */
    height: 300px;
    width: 270px;
    margin-top: 45px;
    border-radius: 8px;
}
.cart1 img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.cart1:hover{
    transform: translateY(-10px);
}

.cart-text1{
    background-color: #cf3816;
    margin-top: -5px;
    /* width: 150px; */
    padding: 20px;
    border-radius: 0px 0px  8px 8px;
}

.cart-text1 p{
    margin-top: 5px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.cart-text1:hover{
    background-color: #B32A0A;
}

.cart2{
    /* background-color: #B38AEA; */
    height: 350px;
    width: 270px;
    border-radius: 8px;
    margin-top: -1px;
}

.cart2 img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.cart-text2{
    background-color: #b388ec;
    margin-top: -5px;
    /* width: 150px; */
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
}

.cart-text2:hover{
    background-color: #8a66b9;
}

.cart2:hover{
    transform: translateY(-10px);
}

.cart3{
    background-color:#282828;
    height: 380px;
    width: 280px;
    border-radius: 8px;
    margin-top: 25px;
    
}

.cart3 img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.cart-text3:hover{
    background-color:#1b1b1b;
}

.cart3:hover{
    transform: translateY(-10px);
}

.cart-text3{
    /* background-color: rgb(53, 131, 161); */
    color: #FFFFFF;
    padding: 20px;
    border-radius: 8px; 
}

.cart4{
    /* background-color: #1B82B1; */
    height: 350px;
    width: 280px;
    
}

.cart4 img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.cart-text4{
    background-color: #1B82B1;
    margin-top: -5px;
    /* width: 150px; */
    padding: 20px;
    border-radius: 0px 0px 8px 8px; 
}

.cart-text4:hover{
    background-color: #195f80;
}

.cart4:hover{
    transform: translateY(-10px);
}


.pic-tex {
    /* margin-left: 15px; */
    background-color: aliceblue;
    padding: 8px;
    border-radius:  8px 8px 0px 0px;
}

.cart5{
    /* background-color: #975FE2; */
    height: 450px;
    width: 280px;
}
.cart5 img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.cart-text5{
    background-color: #369143;
    margin-top: -5px;
    /* width: 150px; */
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
    
}

.cart-text5:hover{
    background-color: #287233;
}


.cart5:hover{
    transform: translateY(-10px);
}

.cart6{
    /* background-color: rgb(255, 0, 234); */
    height: 300px;
    width: 280px;
    border-radius: 8px;
    margin-top: 15px;
    
}
.cart6:hover{
    transform: translateY(-10px);
}


.cart6 img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.cart-text6{
    background-color: #1847D7;
    margin-top: -5px;
    /* width: 150px; */
    padding: 20px;
    border-radius:0px 0px  8px 8px ;
}

.cart-text6:hover{
    background-color:#153bad;
}

.cart7{
    /* background-color: rgb(255, 0, 234); */
    height: 90px;
    width: 650px ;
    border-radius: 8px;
    padding: 10px;
    /* margin-top: 20px; */
}

.cart-text7{
    border-radius: 8px;
    background-color: purple;
    margin-top: 8px;
}

.head-tex{
    background-color: orangered;
    padding: 15px;
    border-radius: 8px 8px 0px 0px;
}
.para-tex{
    background-color: #30A7D7;
    padding: 15px;
    border-radius: 0px 0px 8px 8px;
}


 /* .slider-main{
    background-color: #30A7D7;
    width: 100%;
    height: 200px; 
} */
.head1{
    margin-left: 200px;
    background-color: #232323;
    width: 255px;
    padding: 8px;
    color: #919191;
}

.slide{
  display: flex;
    background-color: black;
    /* margin-left: 15px; */
    width: 100%;
    /* flex-wrap: wrap; */
   gap: 5px;
}

.slide1-img{
    /* width: 250px; */
    background-color: #616161;
    height: 300px;
}
.slide1-img img{
    width: 100%;
    filter:brightness(0.4)
}
.heading{
   background-color: #313131;
   padding: 25px;
   margin-top: -15px;
   color: white;
}

.slide2-img{
    width: 550px;
    background-color: #525252;
    height: 330px;
}
.slide2-img img{
    width: 100%;
    margin-top: -65px;
    
}

.heading1{
    background-color:#302d2d;
    padding: 25px;
    margin-top: -15px;
    color: white;
 
 }

.footer{
    background-color: rgb(27, 29, 26);
    width: 100%;
    margin-top: 65px;
}
.foot-main{
    /* background-color: rgb(95, 177, 63); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    margin-top: 55px;
    gap: 8px;
}


.left-foot{
    /* background-color:rgb(221, 132, 15) ; */
    width: 500px;
    padding: 10px;
    margin-top: 30px;
}
.left-foot h2{
    color: white;
}

.inp1 {
    margin-top: 10px;
}
.inp1 input{
    padding: 10px;
    font-family: Arial;
    font-size: large;
    border-radius: 8px;
    border: none;
}
.inp1 button{
    padding: 15px;
    width: 150px;
    font-family: Arial;
    font-weight: bolder;
    font-size: large;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #808080;
}

.right-foot{
    /* background-color:rgb(222, 135, 210) ; */
    width: 400px;
    color: white;
}
.check-inp input{
    margin-top: 10px ;
}
.check-inp a{
     color: white;
}

.foot-sec{
    /* background-color: blueviolet; */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.foot1{
    /* background-color: #30A7D7; */
    height: 200px;
    /* width: 400px; */
    padding: 10px;
}
.foot1 h2{
    color: white;
}
.foot-an{
    margin-top: 8px;
}
.foot-an a{
    color: white;
}

.foot2{
    /* background-color: #d73083; */
    height: 200px;
    /* width: 400px; */
    padding: 10px;
}

.foot-in{
    display: flex;
}

.foot-in img{
    width: 50px; 
    height: 50px;
    margin: 8px;
}
.foot3{
    /* background-color: #30d77b; */
    height: 200px;
    width: 300px;
    padding: 10px;
}
.foot3 img{
    height: 50px;
    width: 50px;
}
.foot-an2{
    margin-top: 2px;
  
}
.foot-an2 a{
    color: white;
}
